.accordion {
  --_border-radius: var(--border-radius);
  --_padding: var(--accordion-padding, 1rem);

  border: 1px solid var(--border-color);
  border-radius: var(--_border-radius);
  gap: 0;
}

.accordion.horizontal {
  width: fit-content;
}

.accordion.separate {
  border: none;
  border-radius: 0;
  gap: var(--accordion-gap, 0.5rem);
}

.accordion > li {
  background: var(--accordion-background, #fff);
  border: none;
  border-radius: 0;
  margin: 0;
  padding: 0;
}

.accordion.separate > li {
  border: 1px solid var(--border-color);
  border-radius: var(--_border-radius);
}

.accordion.horizontal > li:not(:last-child) {
  border-right: 1px solid var(--border-color);
}

.accordion.vertical > li:not(:last-child) {
  border-bottom: 1px solid var(--border-color);
}

.accordion > li > button {
  background-color: var(--accordion-header-background, #f9f8fa);
  border-style: none;
  margin: 0;
  outline: none;
  padding: var(--_padding);
}

.accordion > li > button > img:first-child {
  height: var(--accordion-title-icon-height, 16px);
  object-fit: contain;
  width: var(--accordion-title-icon-width, 16px);
}

.accordion > li > button > img:last-child {
  border: 0;
  height: var(--accordion-icon-height, 1.5rem);
  width: var(--accordion-icon-width, 1.5rem);
}

.accordion > li > button > span {
  color: var(--color);
  flex-grow: 1;
  font-size: var(--accordion-title-size, 1rem);
  text-align: left;
}

.accordion.vertical > li > div[role="region"] {
  max-height: 0;
  overflow: hidden;
  transition: max-height var(--transition-duration) ease;
  width: 100%;
}

.accordion.vertical > li.active > div[role="region"] {
  max-height: var(--accordion-height, 30rem);
  overflow-y: auto;
}

.accordion.horizontal > li > div[role="region"] {
  max-width: 0;
  opacity: 0;
  overflow: hidden;
  transition: max-width var(--transition-duration) ease, opacity var(--transition-duration) ease;
  height: 100%;
}

.accordion.horizontal > li.active > div[role="region"] {
  max-width: var(--accordion-height, 100dvh);
  opacity: 1;
  overflow-y: auto;
}

.accordion > li > div[role="region"] > .content-wrapper {
  padding: var(--_padding);
}

.accordion > li.active,
.accordion > li.active > div[role="region"] {
  width: 100%;
}

.accordion.horizontal > li {
  min-height: var(--accordion-horizontal-height, 30rem);
}

.accordion.horizontal > li > button {
  padding: var(--_padding);
  width: min-content;
}

.accordion.horizontal > li > button > span {
  line-height: normal;
  padding: 0;
  width: fit-content;
}

.accordion.horizontal > li > button > img:first-child {
  margin: var(--accordion-title-icon-margin, 0 0 5px 0);
}

.accordion.vertical > li > button > img:first-child {
  margin: var(--accordion-title-icon-margin, 0 5px 0 0);
}

.accordion.vertical > li.active > * + * {
  border-top: 1px solid var(--border-color);
}

.accordion.horizontal > li.active > * + * {
  border-left: 1px solid var(--border-color);
}
