.country {
  display: inline-flex; 
  align-items: center;   
  width: 100%;         
}

.country-label {
  display: block;        
  overflow: hidden;      
  white-space: nowrap;
  text-overflow: ellipsis; 
  flex: 1;               
}

.flag-icon {
  margin-right: 0.5rem; 
}
