.country-display {
  display: inline-block;
  max-width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
  vertical-align: middle;
  white-space: nowrap;
}

.country-display > .country-content {
  align-items: center;
  display: flex;
  gap: 0.5rem;
  width: 100%;
}

.country-display .country-label {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.country-display > .country-content:has(.flag-icon-right) {
  flex-direction: row-reverse;
  justify-content: flex-end;
}

.country-display > .country-content:has(.flag-icon-right-edge) {
  flex-direction: row-reverse;
  justify-content: space-between;
}

.country-display .flag-icon {
  background-position: center;
  background-repeat: no-repeat;
  display: inline-block;
  flex-shrink: 0;
  line-height: inherit;
  min-width: 1.5rem;
  vertical-align: middle;
}

.country-display .flag-icon-rounded,
.country-display .flag-icon-circle {
  border-radius: 50%;
  object-fit: cover;
}

.country-display .flag-icon-squared,
.country-display .flag-icon-square {
  border-radius: 0;
  object-fit: cover;
}
