.country {
  align-items: center;
  display: inline-flex;
  width: 100%;
  vertical-align: middle;
}

.country.is-code-only .flag-icon {
  display: none;
}

.country-label {
  display: block;
  flex: 0 1 auto;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  order: 1;
}

.country .flag-icon {
  margin-right: 0.5rem;
  order: 0;
  flex-shrink: 0;
  background-size: cover;
  background-position: center;
  min-width: 1.5rem;
  line-height: inherit;
}

.country .flag-icon-right {
  margin-right: 0;
  margin-left: 0.5rem;
  order: 2;
}

.country .flag-icon-right-edge {
  margin-right: 0;
  margin-left: auto;
  order: 2;
}
