:root {
  --sortable-item-bg-color: #fff;
  --sortable-item-grab-icon-color: #e6e6e6;
  --sortable-item-border-color: #ececec;
  --sortable-item-hover-color: #f8f8f8;
}

.dz-sortable-list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.dz-sortable-list > li {
  align-items: center;
  background-color: var(--sortable-item-bg-color);
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  transition: all 0.2s ease-in-out;
}

.dz-sortable-list > li .grab-icon {
  color: var(--sortable-item-grab-icon-color);
  cursor: grab;
  font-size: 0.6rem;
}

.dz-sortable-list > li > div {
  align-items: center;
  border-left: 1px solid var(--sortable-item-border-color);
  display: flex;
  gap: 0.5rem;
  justify-content: center;
  margin: 2px 0;
  padding: 0.5rem;
}

.dz-sortable-list > li:hover {
  background-color: var(--sortable-item-hover-color);
}

.dz-sortable-list > .dragged-item {
  opacity: 0.4;
}

[data-drag-direction="down"] {
  border-bottom: 5px solid var(--sortable-item-border-color);
}

[data-drag-direction="up"] {
  border-top: 5px solid var(--sortable-item-border-color);
}
