.dz-submenu {
  animation: submenu-open var(--transition-duration);
  display: none;
  flex-direction: column;
  padding-left: 3rem;
}

.dz-submenu:hover {
  background: none !important;
}

.dz-responsive-menu > ul > li[aria-expanded="true"] > .dz-submenu {
  display: flex;
}

.sidebar[aria-expanded="false"] > .dz-responsive-menu > ul > li > .dz-submenu {
  display: none;
}

@keyframes submenu-open {
  from {
    transform: translateY(-0.6rem);
  }

  to {
    transform: translateY(0);
  }
}

.dz-submenu > li > a {
  background: none !important;
  color: inherit;
  display: block;
  padding: 0.5rem;
  text-decoration: none;
  width: 100%;
}

.dz-submenu > li > a > span[role="label"],
.dz-submenu > li > a > span[role="icon"] > i {
  padding: 0 !important;
  transition: all var(--transition-duration) ease;
}

.dz-submenu > li > a.active,
.dz-submenu > li > a.active > span[role="icon"] > i {
  font-weight: 500;
}

.dz-submenu > li:hover > a > span[role="label"],
.dz-submenu > li:hover > a > span[role="icon"] > i {
  font-weight: 500;
}
