:root {
  --border-color: #e5e7eb;
  --border-radius: 0.375rem;

  --button-border-radius: 0.375rem;
  --button-primary-color: var(--dz-primary-color);
  --button-secondary-color: var(--dz-secondary-color);
  --button-alternate-color: var(--dz-alternate-color);
  --button-success-color: var(--dz-success-color);
  --button-danger-color: var(--dz-danger-color);
  --button-warning-color: var(--dz-warning-color);
  --button-small-padding: 0.5rem 0.75rem;
  --button-medium-padding: 0.75rem 1.25rem;
  --button-large-padding: 0.875rem 1.75rem;
  --button-transition-duration: var(--transition-duration, 150ms);

  --color: #2c2c2c;

  --data-caption-color: var(--color);
  --data-stat-padding-block: 0.5rem;
  --data-stat-padding-inline: 0.75rem;
  --data-stat-min-width: 13rem;

  --dropdown-bg-hover: var(--hover-bg);
  --dropdown-trigger-bg-hover: var(--hover-bg);
  --dropdown-trigger-bg: var(--highlight-bg);

  --dz-primary-color: #2563eb;
  --dz-secondary-color: #475569;
  --dz-alternate-color: #0284c7;
  --dz-danger-color: #dc3545;
  --dz-success-color: #22c55e;
  --dz-warning-color: #ea580c;
  --dz-tip-color: #b6af10;

  --dz-nav-item-active-bg: var(--highlight-bg);
  --dz-nav-item-active-color: var(--dz-primary-color);
  --dz-nav-item-border-radius: 0;
  --dz-nav-item-color: var(--color);
  --dz-nav-item-hover-bg: var(--hover-bg);
  --dz-nav-item-hover-color: var(--dz-nav-item-color);
  --dz-nav-item-padding-h: 1.5rem;
  --dz-nav-item-padding-v: 0.5rem;
  --dz-nav-menu-label-color: var(--dz-nav-item-color);
  --dz-nav-menu-padding-h: 0;
  --dz-nav-menu-padding-v: 1rem;
  --dz-nav-menu-separator-color: var(--border-color);

  --dz-page-gap: 1.5rem;
  --dz-page-centered-max-width: 954px;

  --dz-table-actions-column-width: 4rem;
  --dz-table-body-bg: transparent;
  --dz-table-border: 1px solid var(--border-color);
  --dz-table-column-padding: 0.75rem;
  --dz-table-header-bg: transparent;
  --dz-table-header-highlight-bg: transparent;
  --dz-table-loading-overlay-bg: rgba(255, 255, 255, 0.6);
  --dz-table-row-hover-bg: var(--hover-bg);
  --dz-table-row-selected-bg: var(var(--highlight-bg));
  --dz-table-stripe-color: transparent;

  --field-bg-color-disabled: #f8f8f8;
  --field-bg-color: transparent;
  --field-icon-color: #7b7676;
  --field-padding-block: 0.5rem;
  --field-padding-inline: 0.75rem;
  --field-placeholder-color: #7b7676;

  --highlight-bg: #eff6ff;
  --hover-bg: var(--highlight-bg);

  --list-menu-bg-color: #ffffff;
  --list-item-bg-hover: var(--hover-bg);
  --list-item-bg-active: var(--highlight-bg);

  --menu-border-color: var(--border-color);
  --menu-item-active-bg: var(--highlight-bg);
  --menu-item-active-color: #007aff;

  --submit-button-bg-color: var(--dz-primary-color);

  --transition-duration: 150ms;
}
