.demo-button .container,
.demo-modal .container {
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
}

.demo-switch-input .container {
  display: flex;
  flex-flow: column wrap;
  gap: 1rem;
}
