.country-wrapper {
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
}

.custom-style {
  display: inline-flex;
  align-items: center;
  gap: 8px;
  background: #eef2ff;
  padding: 4px 12px;
  border-radius: 20px;
  border: 1px solid #c7d2fe;
  color: #3730a3;
  width: 8rem;
}
