.dz-grid-container .package {
  border: 1px solid rgb(0 0 0 / 20%);
  border-radius: 8px;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
  padding: 1rem;
}

.dz-grid-container .package:hover {
  border-color: var(--dz-secondary-color);
}

.dz-page.home {
  padding: 2.5rem 2rem;
}
