* {
  box-sizing: border-box;
}

.main-menu > ul > li:hover,
.main-menu > ul > li .active {
  font-weight: normal;
  text-decoration: underline;
}

code {
  background: lightgrey;
  border-radius: 0.25rem;
  font-family: monospace;
  padding: 0.5rem;
}

@media screen and (width >= 576px) {
  .dz-layout > header > .dz-header-container {
    flex-wrap: wrap;
  }

  .dz-layout > header > .dz-header-container > .dz-header-menu {
    flex: unset;
  }

  .dz-layout > main {
    padding: 0;
  }
}
