.table-container.vertical .table-wrapper > table > tbody > tr,
.table-container.vertical .table-wrapper > table > tbody > tr > td,
.table-container.vertical .table-wrapper > table > thead tr > th {
  border: none;
}

.table-container.vertical .table-wrapper > table > tbody > tr > td,
.table-container.vertical .table-wrapper > table > thead tr > th {
  border-left: var(--dz-table-border);
  border-right: var(--dz-table-border);
}

.table-container.horizontal .table-wrapper > table > tbody > tr > td,
.table-container.horizontal .table-wrapper > table > thead tr > th {
  border: none;
}
