.forgot-password .acknowledgement-content {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin-bottom: 1rem;
}

.forgot-password .acknowledgement-content .resend-email {
  display: flex;
  font-style: italic;
  gap: 0.25rem;
}

.forgot-password .acknowledgement-content .resend-email .inline-link {
  color: var(--dz-primary-color, --color);
  cursor: pointer;
}

.forgot-password .acknowledgement-content .resend-email .inline-link:hover {
  text-decoration: underline;
}

.forgot-password .acknowledgement-content .resend-email .inline-link.disabled {
  color: var(--color);
  cursor: not-allowed;
  opacity: 0.8;
  text-decoration: none;
}
