.table-users .column-email {
  min-width: 20rem;
}

.table-users .column-name {
  max-width: 15rem;
  min-width: 15rem;
  width: 15rem;
}

.table-users .column-roles {
  max-width: 12rem;
  min-width: 12rem;
  width: 12rem;
}

.table-users .column-signedUpAt {
  max-width: 12rem;
  min-width: 12rem;
  width: 12rem;
}

.table-users .column-disabled {
  max-width: 13rem;
  min-width: 13rem;
  width: 13rem;
}
